<header class="masthead">
    <div class="overlay"></div>
</header>

<div class="thm-container margin-top-50">
     <div class="sec-title">
        <h2>About us</h2>
        <div class="decor-line"></div>
     </div>
   </div>

    <section class="about-section sec-pad">
    <div class="thm-container">
      <div class="row">
        <div class="col-md-4"><%=image_tag("about-1.jpg", class:"img-responsive thumbnail" ,alt:'about us image')%></div>
        <div class="col-md-8">
          <div class="text-box">
            <div class="sec-title">
              <h2>NewGen Group at a glance</h2>
              <div class="decor-line"></div>
            </div>
            <div class="large text-justify">
              <p>Throughout time, some of man’s better ideas have developed around an ever-increasing need to improve communications - the invention and impact of both the telephone and television, being excellent examples of this. Currently the Internet is the technology to capture our imagination, and with it new and exciting opportunities for conducting business.</p>
              <p>Information Communication Technologies (ICT) and the Internet of Things (IOT) is breaking the rules of how we interact on a local and global scale. </p>
                <%=render'more-about'%>
                <button id="btn-readmore-about" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="Read More" > <span class="caret"></span></button>
            </div>
           <br> <br>

            <div class="sec-title medium">
              <h2>Who we are</h2>
              <div class="decor-line"></div>
            </div>
            <div id="accordion" role="tablist" class="panel-group accordion">
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">OUR MISSION</a>
                <div id="collapseOne" role="tabpanel" class="panel-collapse collapse">
                  <div class="inner-box">
                   <p>Content Not Supplied</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true">OUR VISION</a>
                <div id="collapseTwo" role="tabpanel" class="panel-collapse collapse ">
                  <div class="inner-box">
                   <p>Content Not Supplied</p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true">DOCUMENTS</a>
                <div id="collapseThree" role="tabpanel" class="panel-collapse collapse ">
                  <div class="inner-box">
                    <h4 class="primary-color">Comapny Profiles</h4>
                         <%=render'profiles'%>
                                <hr>
                     <h4 class="primary-color">Certificates</h4>
                          <%=render'certificates'%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script type="text/javascript">
//hide and show content in Community
$('#btn-readmore-about').click(function(){
    $('#more-about').toggle(500);
});
</script>
