<div class="call-action-v1 bg-color-red">
  <div class="container">
      <div class="call-action-v1-box">
          <div class="call-action-v1-in">
              <h3 style="color:#fff" class="color-light">Our commitment to our clients extends beyond initial development to full support and maintenance on all our projects</h3>
          </div>
          <div class="call-action-v1-in inner-btn page-scroll">
              <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light btn-u-block thm-button">Get in touch now</a>
          </div>
      </div>
  </div>
</div>
