<footer class="footer">
      <div class="thm-container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-widget about-widget"><a href="/"><%= image_tag('logo2.png', class:"img-responsive") %></a>
              <p>About the company </p>
              <div class="tel-box">
                <div class="icon-box"><i class="fa fa-map-marker"></i></div>
                <div class="text-box">
                  <p>The NewGen Group Office Locations </p>
                  <ul>
                    <li>Johannesburg</li>
                    <li>Pretoria</li>
                    <li>Durban</li>
                    <li>Bloemfontein</li>
                    <li>Port Elizabeth</li>
                    <li>Cape Town</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="footer-widget links-widget links-widget-pac">
              <div class="title">
                <h2>Explore</h2>
                <div class="decor-line"></div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Companies</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                  <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Company Profile</a></li>
                    <li><a href="#">Fiber Exchange</a></li>
                    <li><a href="#">Broad Band</a></li>
                    <li><a href="#">Intelliview</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="footer-widget subscribe-widget">
              <div class="title">
                <h2>Subscribe Newsletter</h2>
                <div class="decor-line"></div>
              </div>
              <form action="#">
                <p>Get latest updates and offers.</p>
                <div class="newsletter-widget">
                  <input type="text" placeholder="Enter your email address">
                  <button type="submit" class="thm-button"><i class="fa fa-envelope"></i></button>
                </div>
              </form>
              <ul class="social list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <section class="footer-bottom">
      <div class="thm-container clearfix">
        <div class="pull-left">
          <p>Copyright © <%=Time.now.year%> New Generation Group. All rights reserved. </p>
        </div>
        <div class="pull-right">
          <p>Developed by ABM Capital </a></p>
        </div>
      </div>
    </section>
