<header class="header2 finance-navbar2">
     <div class="thm-container clearfix">
       <div class="logo pull-left">
          <%=render'shared/logos'%>
         </div>
             <nav id="main-navigation-wrapper" class="navbar navbar-default pull-right">
               <div class="navbar-header">
                 <div class="logo-menu"><%= image_tag('logo-small.png', :alt =>"NewGen Logo" )  %></div>
                 <button type="button" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
               </div>
               <div id="main-navigation" class="collapse navbar-collapse">
                 <ul class="nav navbar-nav">
                   <li><a href="/">Home</a></li>
                   <li><a href="/about">about us</a></li>

                   <li class="dropdown"><a href="/">Companies</a>
                     <ul class="dropdown-submenu">
                       <li><a href="/management_consulting">NewGen Management Consulting</a></li>
                       <li><a href="/placements">New Generation Placements</a></li>
                       <li><a href="/intelliview">Intelliview</a></li>
                       <li><a href="/delphius">Delphius CIT</a></li>
                       <li><a href="/dibana">Dibana</a></li>
                       <li><a href="/newgen_business_solutions ">Newgen Business Solutions </a></li>
                       <li><a href="/infraport">Infraport </a></li>
                     </ul>
                   </li>
                   <li><a href="contact.html">contact us</a></li>
                     <li><a href="#">Login</a></li>
                 </ul>
               </div>
             </nav>
     </div>
   </header>
