<header class="header2 finance-navbar2">
     <div class="thm-container clearfix">
       <div class="logo pull-left">
         <a href="/"> <%= image_tag('logo3.png', :alt =>"NewGen Logo" )  %></a>
           <a href="/"> <%= image_tag('logo-small.png', :alt =>"NewGen Logo" )  %></a></div>
             <nav id="main-navigation-wrapper" class="navbar navbar-default pull-right">
               <div class="navbar-header">
                 <div class="logo-menu"><img src="images/new/logo-small.png" alt="Evo Capital Logo"></div>
                 <button type="button" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
               </div>
               <div id="main-navigation" class="collapse navbar-collapse">
                 <ul class="nav navbar-nav">
                   <li><a href="/">Home</a></li>
                   <li><a href="/about">about us</a></li>

                   <li class="dropdown"><a href="/services">Companies</a>
                     <ul class="dropdown-submenu">
                       <li><a href="/service/corporate_consulting_solutions">NewGen Management Consulting</a></li>
                       <li><a href="/service/health_risk_management">New Generation Placements</a></li>
                       <li><a href="/service/actuarial_services">Intelliview</a></li>
                       <li><a href="/service/actuarial_services">Delphius CIT</a></li>
                       <li><a href="/service/actuarial_services">Dibana</a></li>
                       <li><a href="/service/actuarial_services">Newgen Business Solutions </a></li>
                       <li><a href="/service/actuarial_services">Infraport </a></li>
                     </ul>
                   </li>
                   <li><a href="contact.html">contact us</a></li>
                     <li><a href="#">Login</a></li>
                 </ul>
               </div>
             </nav>
     </div>
   </header>
