<section class="top-header">
  <div class="thm-container">
    <div class="row">
      <div class="col-md-6">
        <h2>Welcome to NewGen Group</h2>
      </div>
      <div class="col-md-6 pull-right">
        <ul>
          <li><i class="fa fa-phone"></i><span class="this-title">+27(0) 87 841 1979</span></li>
          <li><i class="fa fa-envelope"></i><span class="this-title">info@newgengroup.co.za</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
