<ul class="list-group">
    <li class="list-group-item"><a href="strategy_development" id="std"><i class="fa fa-arrow-circle-right"></i> Strategy Development</a></li>
    <li class="list-group-item"><a href="business_consulting"><i class="fa fa-arrow-circle-right"></i> Business Consulting</a></li>
    <li class="list-group-item"><a href="change_management"><i class="fa fa-arrow-circle-right"></i> Change Management</a></li>
    <li class="list-group-item"><a href="program_project_management"><i class="fa fa-arrow-circle-right"></i> Program and Project Management</a></li>
    <li class="list-group-item"><a href="roaming"><i class="fa fa-arrow-circle-right"></i> Roaming</a></li>
    <li class="list-group-item"><a href="installation_liaison_officers"><i class="fa fa-arrow-circle-right"></i> Installation Liaison Officers</a></li>
    <li class="list-group-item"><a href="business_system_analysis"><i class="fa fa-arrow-circle-right"></i> Business and System Analysis</a></li>
    <li class="list-group-item"><a href="revenue_assurance"><i class="fa fa-arrow-circle-right"></i> Revenue Assurance</a></li>
    <li class="list-group-item"><a href="billing"><i class="fa fa-arrow-circle-right"></i> Billing</a></li>
    <li class="list-group-item"><a href="quality_assurance"><i class="fa fa-arrow-circle-right"></i> Quality Assurance</a></li>
    <li class="list-group-item"><a href="network_deployment_management"><i class="fa fa-arrow-circle-right"></i> Network Deployment Management</a></li>
    <li class="list-group-item"><a href="data_validators"><i class="fa fa-arrow-circle-right"></i> Revenue Assurance</a></li>
</ul>
