<header class="masthead">
    <div class="overlay"></div>
</header>

<div class="thm-container margin-top-50">
     <div class="sec-title">
        <h4>Management Consulting > Business Consulting</h4>
        <div class="decor-line"></div>
     </div>
   </div>
    <section class="about-section sec-pad">
    <div class="thm-container">
      <div class="row">
        <div class="col-md-4">
          <%=render'pages/side_nav'%>
          <%=image_tag('consulting.jpg', class:"img-responsive thumbnail")%>
        </div>
        <div class="col-md-8">
          <div class="text-box">
            <div class="sec-title">
              <h2>BUSINESS CONSULTING</h2>
              <div class="decor-line"></div>
              <p>NewGen is a business optimization partner providing integrated business solutions to customers based on a realistic and pragmatic approach. We are a key enabler for business transformation ensuring the customer meets their primary objectives and deliverables</p>
            </div>

            <hr>
            <div class="large text-justify">
                <h3>Business Strategy Development</h3>
                    <p>Assisting customers with the development of a sustainable business strategy to the benefit of all strategic stakeholders</p>

                <h3>Organization turn around programs/ Change management</h3>
                    <p>Assisting customers with the development of a sustainable business strategy to the benefit of all strategic stakeholders</p>
                    <p>Alignment of business strategy with all aspects of the customer organization – people, processes and technology </p>

                <h3>Business Process Re-engineering</h3>
                    <p>Optimizing business processes to not only support the strategic objectives of the organization, but also to increase efficiency, save costs and to adhere to internal control measures and legal and fiscal requirements.</p>

                <h3>Enterprise Capacity and Resource Planning</h3>
                    <p>Alignment of sales and growth requirements with organizational capacity and resources to ensure optimum usage of internal resources and maximizing the efficiency of finite resources.</p>
                    <p>Use of technology (ERP applications) to automate the optimization calculations in an ever-changing environment. </p>

                <h3>Information Technology Solutions </h3>
                    <p>Evaluation and selection of the appropriate technologies and applications to support business operational and information requirements.</p>

                <h3>Enterprise Asset Management</h3>
                    <p>We enable our customers to have a complete view of the asset management cycle from requirement definition, through the procurement process, commissioning right through to the sale/decommission/scrapping stage.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
