<header class="masthead">
    <div class="overlay"></div>
</header>

<div class="thm-container margin-top-50">
     <div class="sec-title">
        <h4>Management Consulting > Change Management</h4>
        <div class="decor-line"></div>
     </div>
   </div>
    <section class="about-section sec-pad">
    <div class="thm-container">
      <div class="row">
        <div class="col-md-4">
          <%=render'pages/side_nav'%>
          <%=image_tag('change_management.jpg', class:"img-responsive thumbnail")%>
        </div>
        <div class="col-md-8">
          <div class="text-box">
            <div class="sec-title text-justify">
              <h2>Change Management</h2>
              <div class="decor-line"></div>
              <p>Resistance to change is one of the fundamental reasons why new initiatives fail to have the required impact on the organizations results or to achieve the required results. As such, change management has over time become more important in any project or new initiative in an organization. As the importance of managing change in an organization has increased, change management has become a discipline on its own.
              </p>
            </div>

            <hr>
            <div class="large text-justify">
                <h3>Setting the Climate for Change:</h3>
                  <ul>
                    <li>Understanding who the key leaders, end users and other impacted parties are, and preparing them conceptually for the change</li>
                    <li>Conducting a readiness assessment amongst all impacted stakeholders to establish their readiness and resistance areas to the new system and associated changes. Often this type of assessment can positively position the need for chang</li>
                    <li>AnAsIsassessmentisdoneoftheexisting structures, roles, reporting lines and behaviours to better identify the true impact of the new system and changes</li>
                  </ul>

                  <h3>Engage and Enable the Organisation:</h3>
                    <ul>
                      <li>This phase is the longest one, spanning across most of the design and development of the project</li>
                      <li>A detailed impact analyses is performed, and structured workshops and communication sessions are scheduled with leaders and their end users to explain the changes and how their roles and lives will be transformed</li>
                      <li>Communication to all impacted parties (including external stakeholders e.g. clients, suppliers etc) takes place throughout this phase, against a structured and strategically aligned communication plan</li>
                      <li>Updates to policies, structures, roles and performance measures are a critical activity during engagement and will be a success factor to sustaining the changes</li>
                    </ul>

                    <h3>Sustain and Embed the Changes:</h3>
                      <ul>
                        <li>Gearing into implementation, change management focuses on increasing the depth and two- way interaction of communication with all end-users and impacted stakeholders</li>
                        <li>All resistance is actively managed during this phase, and leadership’s role in reinforcing new behaviours becomes a focus area</li>
                        <li>HR and other transitioning activities take place in the lead up to go-live</li>
                      </ul>

                      <h3>Post Implementation::</h3>
                        <ul>
                          <li>A phase that is often very necessary to establish the embedment of changes, and adjustment of staff to the new “way” It is critical that throughout the transformation that:</li>
                          <li>All leaders are actively involved and seen as the custodians and sponsors of the change</li>
                          <li>All end users/ staff are engaged with, informed and heard</li>
                        </ul>

          </div>
        </div>
      </div>
    </div>
  </section>
