<header class="masthead">
    <div class="overlay"></div>
</header>

<div class="thm-container margin-top-50">
     <div class="sec-title">
        <h4>Management Consulting > Strategy Development</h4>
        <div class="decor-line"></div>
     </div>
   </div>
    <section class="about-section sec-pad">
    <div class="thm-container">
      <div class="row">
        <div class="col-md-4">
          <%=render'pages/side_nav'%>
          <%=image_tag('strategy.jpg', class:"img-responsive thumbnail")%>
        </div>
        <div class="col-md-8">
          <div class="text-box">
            <div class="sec-title text-justify">
              <h2>Strategy Development</h2>
              <div class="decor-line"></div>
              <p>Strategy development is about enabling our clients to position themselves in a profitable and responsive space in their business, and to enable them to take advantage of market opportunities. In developing strategies for our clients, we take both an outside-in and an inside-out look of their business.
              Outside-in being the environmental assessment of their business (e.g. economic market, regulation, competitive landscape etc). This enables us to take proper dimensions of the operating environment as well as identify market opportunities.
              Inside-out is the assessment of the client’s capability and ability to compete profitably in the market they operate in, and to fully take advantage of opportunities. This allows us to help the client in matching their long-term objectives to short and medium-term actions and initiatives.
              Our strategy development value chain can be described as follows:
              </p>
            </div>

            <hr>
            <div class="large text-justify">
                <h3>Positioning</h3>
                  <ol>
                    <li>Strategic & competitive positioning</li>
                    <li>Portfolio Strategy</li>
                    <li>Entry and Growth Strategy</li>
                    <li>Segment Strategy</li>
                    <li>Strategic Planning</li>
                    <li>Partnerships</li>
                  </ol>

                  <h3>Go to market</h3>
                    <ol>
                      <li>Product/ Service innovation</li>
                      <li>Product/ Service launch</li>
                      <li>Demand assessment and fulfilment</li>
                      <li>Customer retention and loyalty</li>
                    </ol>

                    <h3>Partnering</h3>
                      <ol>
                        <li>Partnership evaluation, setup and management</li>
                        <li>Build/ Partner or buy analysis</li>
                        <li>Due Diligence on partnerships and acquisitions</li>
                      </ol>

          </div>
        </div>
      </div>
    </div>
  </section>
