<!--=== Content Part ===-->
   <div class="container content">
       <div class="row margin-bottom-30">
           <div class="col-md-9 mb-margin-bottom-30">
               <!-- Google Map -->
               <div id="map" class="map map-box map-box-space margin-bottom-40">
                <br>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.7274556550906!2d28.057162415152675!3d-26.042472113742587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9573c9ed89443f%3A0x79df2aabefe83102!2sWest+House+Devcon+Park!5e0!3m2!1sen!2sza!4v1528091225779" width="800" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
              <br> <br>
               </div>
               <!-- End Google Map -->
<br>
               <form action="" method="post" id="sky-form3" class="sky-form contact-style">
                   <fieldset class="no-padding">
                       <label>Name <span class="color-red">*</span></label>
                       <div class="row sky-space-20">
                           <div class="col-md-7 col-md-offset-0">
                               <div>
                                   <input type="text" name="name" id="name" class="form-control" data-toggle="required">
                               </div>
                           </div>
                       </div>

                       <label>Email <span class="color-red">*</span></label>
                       <div class="row sky-space-20">
                           <div class="col-md-7 col-md-offset-0">
                               <div>
                                   <input type="text" name="email" id="email" class="form-control">
                               </div>
                           </div>
                       </div>

                       <label>Message <span class="color-red">*</span></label>
                       <div class="row sky-space-20">
                           <div class="col-md-11 col-md-offset-0">
                               <div>
                                   <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                               </div>
                           </div>
                       </div>

                       <p><button type="submit" class="thm-button inverse white">Send Message</button></p>
                   </fieldset>


               </form>
           </div><!--/col-md-9-->

           <div class="col-md-3">
               <!-- Contacts -->
               <div class="sec-title">
                 <h2>Head Office</h2>
                 <div class="decor-line"></div>
               </div>
               <ul class="list-unstyled who margin-bottom-30">
                   <li><i class="fa fa-home"></i> Devcon Park, West House <br> 7 Autumn Street, Rivonia  </li>
                   <li><i class="fa fa-envelope"></i> info@example.com</li>
                   <li><i class="fa fa-phone"></i> 087 742 0830</li>
                   <li><i class="fa fa-globe"></i> http://www.newgengroup.co.za</a></li>
               </ul>
                  <hr>

                 <h4 class="primary-color">Management Consulting</h4>
                 <ul class="list-unstyled who margin-bottom-30">
                     <li><i class="fa fa-home"></i> Devcon Park, West House <br> 7 Autumn Street, Rivonia  </li>
                     <li><i class="fa fa-envelope"></i> info@example.com</li>
                     <li><i class="fa fa-phone"></i> 087 742 0830</li>
                     <li><i class="fa fa-globe"></i> http://www.newgengroup.co.za</a></li>
                 </ul>

                  <hr>
                 <h4 class="primary-color">Intelliview</h4>
                 <ul class="list-unstyled who margin-bottom-30">
                     <li><i class="fa fa-home"></i> Devcon Park, West House <br> 7 Autumn Street, Rivonia  </li>
                     <li><i class="fa fa-envelope"></i> info@example.com</li>
                     <li><i class="fa fa-phone"></i> 087 742 0830</li>
                     <li><i class="fa fa-globe"></i> http://www.newgengroup.co.za</a></li>
                 </ul>
                 <button id="btn-readmore-contacts" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="Read More" > <span class="caret"></span></button>
                    <div id="contacts-more">
                 <hr>
                <h4 class="primary-color">Delphius</h4>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><i class="fa fa-home"></i> Devcon Park, West House <br> 7 Autumn Street, Rivonia  </li>
                    <li><i class="fa fa-envelope"></i> info@example.com</li>
                    <li><i class="fa fa-phone"></i> 087 742 0830</li>
                    <li><i class="fa fa-globe"></i> http://www.newgengroup.co.za</a></li>
                </ul>

                    <hr>
                   <h4 class="primary-color">Dibana</h4>
                   <ul class="list-unstyled who margin-bottom-30">
                       <li><i class="fa fa-home"></i> Devcon Park, West House <br> 7 Autumn Street, Rivonia  </li>
                       <li><i class="fa fa-envelope"></i> info@example.com</li>
                       <li><i class="fa fa-phone"></i> 087 742 0830</li>
                       <li><i class="fa fa-globe"></i> http://www.newgengroup.co.za</a></li>
                   </ul>
                   <hr>
                   <h4 class="primary-color">Newgen Business Solutions</h4>
                   <ul class="list-unstyled who margin-bottom-30">
                       <li><i class="fa fa-home"></i> Devcon Park, West House <br> 7 Autumn Street, Rivonia  </li>
                       <li><i class="fa fa-envelope"></i> info@example.com</li>
                       <li><i class="fa fa-phone"></i> 087 742 0830</li>
                       <li><i class="fa fa-globe"></i> http://www.newgengroup.co.za</a></li>
                   </ul>

                   <hr>
                   <h4 class="primary-color">ID4</h4>
                   <ul class="list-unstyled who margin-bottom-30">
                       <li><i class="fa fa-home"></i> Devcon Park, West House <br> 7 Autumn Street, Rivonia  </li>
                       <li><i class="fa fa-envelope"></i> support@ID4mobility.co.za </li>
                       <li><i class="fa fa-phone"></i> 087 742 0830</li>
                       <li><i class="fa fa-globe"></i> http://www.newgengroup.co.za/id4</a></li>
                   </ul>

                   <hr>
                   <h4 class="primary-color">Infraport</h4>
                   <ul class="list-unstyled who margin-bottom-30">
                       <li><i class="fa fa-home"></i> Devcon Park, West House <br> 7 Autumn Street, Rivonia  </li>
                       <li><i class="fa fa-envelope"></i> info@example.com</li>
                       <li><i class="fa fa-phone"></i> 087 742 0830</li>
                       <li><i class="fa fa-globe"></i> http://www.newgengroup.co.za</a></li>
                   </ul>

                   <!-- Business Hours -->
                   <div class="headline"><h2>Business Hours</h2></div>
                   <ul class="list-unstyled margin-bottom-30">
                       <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                       <li><strong>Saturday:</strong> 11am to 3pm</li>
                       <li><strong>Sunday:</strong> Closed</li>
                   </ul>
              </div>

           </div><!--/col-md-3-->
       </div><!--/row-->
       <!-- End Owl Clients v1 -->
          <hr>
   </div><!--/container-->

   <!--=== End Content Part ===-->

   <script type="text/javascript">
   //hide and show content in Community
   $('#btn-readmore-contacts').click(function(){
       $('#contacts-more').toggle(500);
   });
   </script>
