<hr>
<div class="row">
    <div class="col-md-12">
    <div class="jumbotron text-center header-content-inner hr">
    <p>Contact us now and you can be connected today</p>
    <hr>
    <a data-animation="animated fadeInLeft" href="/contacts" class="thm-button">Get started <i class="fa fa-arrow-right"></i></a>

    </div>
    </div>
</div>
