<div class="row">
    <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">
      <hr>

      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default panel-default-company" style="height:100%";>
            <div class="panel-heading"> <h4 style="color:#f58634">Fibre Optic Turnkey  </h4></div>
              <%=image_tag('mini/it_support.jpg', class:"img-responsive")%>
            </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default panel-default-company" style="height:100%";>
           <div class="panel-heading"><h4 style="color:#f58634">SITE INSTALLATION</h4></div>
                    <%=image_tag('mini/inspection.jpg', class:"img-responsive")%>
            </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default panel-default-company" style="height:100%";>
             <div class="panel-heading"><h4 style="color:#f58634">APPS</h4></div>
                <%=image_tag('mini/apps.jpg', class:"img-responsive")%>
            </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default panel-default-company" style="height:100%";>
             <div class="panel-heading"><h4 style="color:#f58634">DEVICES & SOFT-</h4></div>
               <div class="panel-body">

               </div>
            </div>
        </div>
      </div>
    </div>
</div>
