<div class="row">
    <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default panel-default-company" style="height:100%";>
            <div class="panel-heading"> <h4 style="color:#f58634">Fibre Optic Turnkey  </h4></div>
              <%=image_tag('mini/fb1.jpg', class:"img-responsive")%>
              <div class="panel-footer"> <button class="btn btn-sm btn-default">Read More</button></div>
            </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default panel-default-company" style="height:100%";>
           <div class="panel-heading"><h4 style="color:#f58634">Fibre Optic Experience</h4></div>
             <%=image_tag('mini/fb2.jpg', class:"img-responsive")%>
              <div class="panel-footer"> <button class="btn btn-sm btn-default">Read More</button></div>
            </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default panel-default-company" style="height:100%";>
             <div class="panel-heading"><h4 style="color:#f58634">Fibre Optic Services</h4></div>
                <%=image_tag('mini/fb3.jpg', class:"img-responsive")%>
                <div class="panel-footer"> <button class="btn btn-sm btn-default">Read More</button></div>
            </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default panel-default-company" style="height:100%";>
             <div class="panel-heading"><h4 style="color:#f58634">Micro -Trenching</h4></div>
                <%=image_tag('mini/mt.jpg', class:"img-responsive")%>
                <div class="panel-footer"> <button class="btn btn-sm btn-default">Read More</button></div>
            </div>
        </div>
      </div>
    </div>
</div>
