<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default ">
      <div class="panel-heading">Before </div>
        <%=image_tag('mini/before.jpg', class:"img-responsive push-right")%>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Duct Installation</div>
        <%=image_tag('mini/during_1.jpg', class:"img-responsive")%>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"> Duct Installation </div>
        <%=image_tag('mini/during_2.jpg', class:"img-responsive")%>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">After </div>
        <%=image_tag('mini/after.jpg', class:"img-responsive")%>
    </div>

  </div>
</div>
