<div class="contact-info bg-img" data-overlay-dark="6">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="item valign">
                                <span class="icon"><i class="fa fa-envelope"></i></span>
                                <div class="cont vertical-center">
                                    <h6>Email</h6>
                                    <p>info@newgengroup.co.za</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item valign">
                                <span class="icon"><i class="fa fa-location-arrow"></i></span>
                                <div class="cont vertical-center">
                                    <h6>Address</h6>
                                    <p>6834 Sunning Hill Blvd - Johanesburg.</p>
                                    <p>19.A 8th street, Theni.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item valign">
                                <span class="icon"><i class="fa fa-phone"></i></span>
                                <div class="cont vertical-center">
                                    <h6>Phone</h6>
                                    <p>+27(0) 87 841 1979</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
