<header class="masthead">
    <div class="overlay"></div>
</header>

 <div class="thm-container margin-top-50">
   <div class="sec-title">
              <h2>Companies</h2>
              <div class="decor-line"></div>
            </div>
   </div>
    <section class="about-section sec-pad">
    <div class="thm-container" style="background-image: url(<%= image_path('globe-background.png') %>) ;">
      <%=render'home/logos_group'%>
    </div>
  </section>
