<header class="company" style="background-image: url(<%= image_path('header5.jpg') %>) ;">
    <div class="overlay">
</header>
<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">DIBANA</h1>
        <hr>
         <div id="autoplay">
           <p>In recent years it has become apparent that fibre-optics are steadily replacing copper wire as an appropriate means of communication signal transmission. </p>
           <p>Audio, Data and Video can be transmitted seamlessly along great distances and today, fibre provides the backbone for many network systems</p>
         </div>
         <br>
        <a href="#about-intro" class="thm-button inverse">Find Out More</a>
    </div>
</div>

<section id="about-intro" >
<div class="intro bg-gray text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12 content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <a class="logo-img" href="#">
                  <%=image_tag('brand.png', class:"logo-img")%>
              </a>
              <h2>DIBANA… Global Connectivity Value beyond imagination
</h2>
          </div>
      </div>
  </div>
</div>
</section>


<!--section services start here-->

        <section id="services" class="padding-80" style="background-image: url(<%= image_path('globe-background.png') %>) ;">


            <div class="services-section-1 text-justify">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>What we do?</span></h4>
                        <h2 class="large section-title" style="color:#f58634">Our Services</h2>
                    </div><!--section heading-->

                </div><!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                            <div class="margin-btm-40">
                                <h4>DIBANA</h4>
                                <p>In recent years it has become apparent that fibre-optics are steadily replacing copper wire as an appropriate means of communication signal transmission. Audio, Data and Video can be transmitted seamlessly along great distances and today, fibre provides the backbone for many network systems.  Dibana has identified the need for a specialized division with highly trained staff and state of the art equipment to offer a complete fibre optic and telecommunication solution:</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">
                          <hr>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="panel panel-default">
                                   <div class="panel-body">
                                    <p>Planning, design and implementation of cable infrastructures</p>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="panel panel-default">
                                   <div class="panel-body">
                                    <p>Fibre Optic Cabling </p>
                                    <hr>
                                    Fibre Optic Cabling
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="panel panel-default">
                                   <div class="panel-body">
                                    <p>Site Management </p>
                                    <hr>
                                  Site Maintenance
                                   </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                        <div class="margin-btm-40">
                            <p>
                            Dibana provide complete turnkey solutions for network build projects and have an extensive capability and a proven track record in delivering complex projects. Our managed services offering for fibre networks has set a new standard against which networks are built, commissioned, supported and maintained. </p>
                             <div class="btn btn-sm btn-default">Read More</div>
                        </div>
                    </div>

                </div>
            </div><!--services section 1 end-->
             <div class="container">
                       <hr>
               <div class="row">
                 <div class="col-md-12">
                   <div class="jumbotron text-center header-content-inner hr">
                  <p>Contact us now and you can be connected today</p>
                  <hr>
                    <a data-animation="animated fadeInLeft" href="#" class="thm-button">Get started <i class="fa fa-arrow-right"></i></a>
                   </div>
                 </div>
               </div>
             </div>
        </section>
        <!--section services end here-->
