  <header class="company" style="background-image: url(<%= image_path('header8.jpg') %>) ;">
      <div class="overlay"></div>
  </header>
  <div class="header-content">
      <div class="header-content-inner">
          <h1 id="homeHeading">INFRAPORT</h1>
          <hr>
           <div id="autoplay">
             <p>InfraPort has a commitment to identify ourselves with the best and largest International competitors in our environment while maintaining a distinctive profile.</p>
             <p>We give our clients a one stop solution that will add value to their operations in order to give them the competitive edge</p>
           </div>
           <br>
          <a href="#about-intro" class="thm-button inverse">Find Out More</a>
      </div>
  </div>

<section id="about-intro" >
  <div class="intro bg-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a class="logo-img" href="#">
                    <%=image_tag('brand.png', class:"logo-img")%>
                </a>
                <h2>All site build personnel are fully accredited </h2>
            </div>
        </div>
    </div>
  </div>
</section>

<!--section services start here-->
  <section id="services" class="padding-80">
      <div class="services-section-1 text-justify">
          <div class="container">
              <div class="section-heading text-center">
                  <h2 class="large section-title" style="color:#f58634">About us</h2>
              </div><!--section heading-->

          </div><!--container-->
          <div class="container">
              <div class="row">
                  <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                      <div class="margin-btm-40 class="text-justify" ">
                          <h4>Infraport </h4>
                           <p class="text-justify">InfraPort has a commitment to identify ourselves with the best and largest International competitors in our environment while maintaining a distinctive profile. We want our clients to feel confident that their assets, name and reputation are well protected and that they can benefit from personalized and exceptional service.
                            Our profile is characterized by independence, security, continuity and integrity, while the basis of our success lies in seeking the greatest benefits for all, clients, staff and management. We are confident that through our professionalism, commitment and performance, we will gain your trust. InfraPort identified a need to expand the services offered and engage in an aggressive expansion program.
                           </p>
                      </div>
                  </div>
                  <hr>
              </div>
              <div class="row">
                  <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">
                    <hr>
                        <div class="row">
                            <div class="col-md-4">
                               <%=image_tag('vision.jpg', class:'img-responsive')%>
                            </div>

                              <div class="col-md-8">
                                <p><strong>VISION</strong>-To give our clients a one stop solution that will add value to their operations in order to give them the competitive edge. </p> <hr>
                                <p><strong>MISSION</strong>-Continuously striving to provide integrated, innovated and market leading quality solutions and services to our clients in the Telecommunications and Infrastructure Industries (e.g. Gas pipe lines, Local Government e.g. sewer, water and electricity, Optic Fibre infrastructure), by utilising the latest technology and equipment, best practices and recognised industry standards. Through our knowledge and significant experience in the various industries, our pledge is to add meaningful value to our Client’s operations and establish and build lasting, mutually beneficial relationships, by exceeding their expectations through exceptional performance. </p>
                              </div>
                        </div>
                  </div>

              </div>
              <br>
              <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                  <div class="margin-btm-40">
                    <h3>Health & Safety</h3>
                       <p>Internal qualified Health and Safety Managers with more than 25 years’ experience between them. This allows us to meet all Industry and Legislative requirements, as well as to assist our clients and various contractors to meet the above.
                        Regular updated training is provided to all our employees internally, as well as externally and induction courses are done on every new project and for new employees.
                        </p>
                  </div>
            </div>
      </div><!--services section 1 end-->
       <div class="container">
          <hr>
         <div class="row">
           <div class="col-md-12">
             <div class="jumbotron text-center header-content-inner hr">
            <p>Contact us now and you can be connected today</p>
            <hr>
              <a data-animation="animated fadeInLeft" href="#" class="thm-button">Get started <i class="fa fa-arrow-right"></i></a>

             </div>
           </div>
         </div>
      </div>

      <div class="container">
        <div class="section-heading text-center">
          <h4 class="small section-title"><span>What we do?</span></h4>
          <h2 class="large section-title" style="color:#f58634">Our Services</h2>
        </div><!--section heading-->

          <%=render'company/templates/panels_infraport'%>

      </div>
  </section>

  <!--section services end here-->
