<header class="company" style="background-image: url(<%= image_path('header.jpg') %>) ;">
    <div class="overlay">
</header>
<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">NEW GENENERATION MANAGEMENT CONSULTING</h1>
        <hr>
        <div id="autoplay">
          <p>A service delivery company that focuses on our core competencies of business consulting and project management. </p>
          <p>Business optimization partner providing integrated business solutions to customers based on a realistic and pragmatic approach. </p>
        </div>
        <br>
        <a href="#about-intro" class="thm-button inverse">Find Out More</a>
    </div>
</div>

<section id="about-intro">
<div class="intro bg-gray text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12 content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <a class="logo-img" href="#">
                  <%=image_tag('brand.png', class:"logo-img")%>
              </a>
              <h4>Contact NewGen MC today because our excellent service and experienced team make us the 'safe' choice for your organization!</h4>
          </div>
      </div>
  </div>
</div>
</section>

<!--section services start here-->

        <section id="services" class="padding-80" style="background-image: url(<%= image_path('globe-background.png') %>) ;">


            <div class="services-section-1 text-justify">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>What we do?</span></h4>
                        <h2 class="large section-title" style="color:#f58634">Our Services</h2>
                    </div><!--section heading-->

                </div><!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="margin-btm-40">
                                <h4>Newgen Management Consulting</h4>
                                <p>is a service delivery company that focuses on our core competencies of business consulting and project management</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 wow animated fadeInLeft" data-wow-delay="0.3s">
                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Strategy Development</h3>
                                        <p>
                                          Strategy development is about enabling our clients to position themselves in a profitable and responsive space in their business...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Business Consulting </h3>
                                        <p>
                                            NewGen is a business optimization partner providing integrated business solutions to customers based on a realistic and pragmatic approach...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Change Management</h3>
                                        <p>
                                            Resistance to change is one of the fundamental reasons why new initiatives fail to have the required impact on the organizations results or to achieve the required results...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Program and Project Management </h3>
                                        <p>
                                            At NewGen we believe in the old adage of project management – “on time, in budget, within specification” One of our key competencies is the provision of program...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->

                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Roaming</h3>
                                        <p>
                                          NewGen has a unique blend of Telco Roaming skills, allowing the company to operate within 2 specialized areas, namely Roaming agreement initialization...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->

                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Installation Liaison Officers</h3>
                                        <p>
                                          Over 70 ILO’s and PM’s deployed in Gauteng, Western Cape and KZN for our clients.Equipment per ILO/PM: Bakkie,Laptop...

                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                        </div>

                        <div class="col-md-6 wow animated fadeInRight" data-wow-delay="0.6s">

                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Business and System Analysis</h3>
                                        <p>
                                            Business analysis is the discipline of identifying business needs and determining solutions to business problems. As part of its Project and Program role...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Revenue Assurance </h3>
                                        <p>
                                            NewGen has a unique skill set and methodology to aid organizations in determining where revenue is lost and thereby maximizing profit...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Billing</h3>
                                        <p>
                                          NewGen has a unique blend of Telco Billing skills, allowing the company to operate within 2 specialized areas, namely Billing Implementations and Billing Managed...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Quality Assurance</h3>
                                        <p>
                                            Although quality is the underlying principle in everything we do, quality assurance is a very specific management activity that is run in conjunction with normal project activities...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->

                            <div class="row margin-btm-20">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Network Deployment Management</h3>
                                        <p>
                                          NewGen Network Deployment will assist you to;Launch your network on time, Manage technical and commercial risks,Deploy within budget...
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->


                            <div class="row margin-btm-20">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Data Validators</h3>
                                        <p>
                                          NewGen MC provides Data Validators to that assist in the process of migrating fibre optic site data as provided by its clients onto their bespoke systems. ..
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                        </div>
                    </div>
                </div>
            </div><!--services section 1 end-->

        </section>
        <!--section services end here-->
