<div class="table-responsive">
  <table class="table table-striped table-hover">
    <tr>
      <td>New Generaion Group</td>
      <td> <a href="#"> <i class="fa fa-download"></i> </a> </td>
    </tr>
    <tr>
      <td>New Generaion Management Consultation</td>
        <td> <a href="#"> <i class="fa fa-download"></i> </a> </td>
    </tr>
    <tr>
      <td>Intelliview</td>
        <td> <a href="downloads/profiles/intelliview.pdf"> <i class="fa fa-download"></i> </a> </td>
    </tr>
    <tr>
      <td>Delphius</td>
        <td> <a href="downloads/profiles/Delphius Company Profile.pdf"> <i class="fa fa-download"></i> </a> </td>
    </tr>

    <tr>
      <td>Dibana</td>
        <td> <a href="downloads/profiles/Dibana Company Profile.pdf"> <i class="fa fa-download"></i> </a> </td>
    </tr>
    <tr>
      <td>Newgen Business Solutions</td>
      <td> <a href="#"> <i class="fa fa-download"></i> </a> </td>
   </tr>

  <tr>
     <td>ID4</td>
     <td> <a href="#"> <i class="fa fa-download"></i> </a> </td>
  </tr>

  <tr>
     <td>Infraport</td>
     <td> <a href="#"> <i class="fa fa-download"></i> </a> </td>
  </tr>

  </table>
</div>
