header.masthead {
  background: url('inn-header2.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header.masthead>.overlay {
  padding: 5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
  header.masthead>.overlay {
    padding: 10rem 0;
  }
}

.style-home-page2.header2-inn .inner-banner h3 {
    font-size: 32px;
    background: #fbd03b;
    color: #000000;
    padding: 0 30px;
    display: inline-block;
    line-height: 53px;
}
